---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm a passionate travel blogger.
        <br />
        Lately I've been to:
      </p>
      <ul class="list-disc list-inside">
        <li>Madeira</li>
        <li>Spain</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      When I’m not on the road, you’ll find me enjoying design, illustration, and animation. I believe every journey has a story, and I’m here to inspire your next adventure.
    </p>
    <p class="text-sm font-light">
      Join me as I explore the world, one destination at a time!
    </p>
  </div>
</Card>
